<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">Poke cards</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [class.hide]="login" style="cursor: pointer;" (click)="account()">login</a>
        </li>
        <li class="nav-item"[class.hide]="!login">
          <a class="nav-link text-danger" style="cursor: pointer;" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['profile']" routerLinkActive="router-link-active" class="nav-link" style="cursor: pointer;">Profile</a>
        </li>
        <li class="nav-item" [class.hide]="!login">
          <app-send-info-box [title]="title" [type]="type" [class]="class" [placeholder]="placeholder"
             [typeButtonSend]="typeButtonSend" [classButtonSend]="classButtonSend" [nameButtonSend]="nameButtonSend" 
             [typeButtonCancel]="typeButtonCancel" [classButtonCancel]="classButtonCancel" [nameButtonCancel]="nameButtonCancel"
             (event)="emitInfo($event)">
          </app-send-info-box>
        </li>
      </div>
    </div>
  </div>
</nav>